<p>Hoi <%= @user.first_name %>,</p>

<p>
  Willkommen zu meine.basimil.ch!
</p>

<p>
  Dein Konto wurde gerade aktiviert. Klicke auf den folgenden Link, um einzuloggen:
</p>

<%= link_to "Einloggen", login_url(email: @user.email) %>

<p>
  Herzliche Grüsse,
</p>
<p>
  deine basimilch Betriebsgruppe
</p>
