<p>Hoi <%= @user.first_name %>,</p>

<p>
  Willkommen zu meine.basimil.ch! Klicke auf den folgenden Link, um dein Konto zu aktivieren:
</p>

<%= link_to "Aktivieren", edit_account_activation_url(@user.activation_token,
                                                      email: @user.email) %>

<p>
  <em>
  NB: Der Link ist nur gültig bis zum <%= I18n.l @user.activation_token_valid_until, format: :short %>.
  </em>
</p>
