<p>
  Um deine E-Mail-Adresse zu bestätigen, gebe bitte folgende 6-stellige Zahl
  im Validierungsfeld der Anmeldung ein:
</p>

<h1>
  <code>
    <%= @email_validation_code %>
  </code>
</h1>

<%= render "shared/mailer_footer_unrequested_email" %>
