<p>
  Um deine E-Mail-Adresse zu aktivieren, gebe bitte folgende 6-stellige Zahl
  im Validierungsfeld der Anmeldung:
</p>

<h1><%= @email_validation_code %></h1>

<em>
  NB: Wenn Du diese E-Mail nicht angefordert hast, ignoriere sie bitte.
  Jemand hat deine E-Mail-Adresse angegeben, um sich auf
  <a href="http://basimil.ch">http://basimil.ch</a>
  anzumelden.
</em>
