<p>Klicke auf den folgenden Link, um dein Passwort zurückzusetzen:</p>

<%= link_to "Passwort zurücksetzen", edit_password_reset_url(@user.password_reset_token,
                                                      email: @user.email) %>

<p>
  NB: Der Link ist nur gültig bis zum <%= I18n.l @user.password_reset_token_valid_until, format: :short %>.
</p>

<p>
  Wenn Du diese E-Mail nicht angefordert hast, ignoriere sie bitte.
  Dein Password wird ungeändert gültig bleiben.
</p>
