<p>
  Hoi <%= @user.first_name %>
</p>

<p>
  Vielen Dank f체r dein Interesse an unserer (hoffentlich bald auch deiner)
  Genossenschaft!
</p>

<p>
  Deine Anmeldung ist vollst채ndig angekomen.
  Es freut uns sehr, dass du dabei bist!
</p>

<p>
  Im Verlauf dieses Monats wirst du <b>deine Anteilscheine per Post
  erhalten</b>. Zudem wirst du <br>
  regelm채ssig mit dem <b>Newsletter</b> 체ber den Lauf
  und den Stand der Dinge bei basimilch informiert.
</p>

<p>
  Vielen Dank!
</p>

<%= render "shared/mailer_footer" %>
