<p>
  Hoi <%= @user.first_name %>
</p>

<p>
  Vielen Dank für dein Interesse an unsere (hoffentlich bald auch deine)
  Genossenschaft!
</p>

<p>
  Deine Anmeldung ist gesund und vollständig angekomen.
  Es freut uns sehr, dass du dabei bist!
</p>

<p>
  Im Verlauf dieses Monats wirst du <b>deine Anteilscheine per Post
  erhalten</b>. Zudem wirst du <br>
  regelmässig mit dem <b>Newsletter</b> über den Lauf
  und den Stand der Dinge bei basimilch informiert.
</p>

<p>
  Vielen Dank!
</p>

<p>
  Milchgrüsse,
</p>

<p>
  deine Betriebsgruppe von basimilch
</p>

<em>
  NB: Diese E-Mail wurde automatisch generiert und wir lesen die Antworten darauf
  leider nicht. <br>
  Allerdings kannst du uns jederzeit unter
  <a href="mailto:info@basimil.ch">info@basimil.ch</a>
  erreichen und alle Informationen <br>
  über die Genossenschaft auf
  <a href="http://basimil.ch">basimil.ch</a>
  finden.
</em>

