<tr>
  <td>
    <%= link_to "#{user.full_name}", user %>
  </td>
  <td>
    <%= mail_to user.email %>
  </td>
  <td>
    <%= link_to "profile", user, class: "btn btn-default" %>
    <%= link_to "edit", edit_user_path(user), class: "btn btn-default" %>
  </td>
</tr>