<% provide(:title, t('.title')) %>
<div class="table-responsive">
  <table class="table table-hover">
    <%= render(@users) || t('.no_users_found') %>
  </table>
</div>
<small>
  <%= link_to t('.only_from_zurich'), "?filter[postal_code]=8000" %>
  |
  <%= link_to t('.download_all_users_as_csv'), users_path(format: :csv) %>
</small>
