<% if !@view %>
  <% provide(:title, t('.title.all_users')) %>
<% else %>
  <% provide(:title, t('.title.' + @view + '_users')) %>
<% end %>

<%= render 'index_table', users: @users %>

<div>
  <small>
    <%= link_to t('.only_from_zurich'), "?filter[postal_code]=8000" %>
    |
    <%= link_to t('.download_all_users_as_csv'), users_path(format: :csv) %>
  </small>
</div>
