<% if errors.any? %>
  <div class="row">
    <div class="col-md-6">
      <div id="error_explanation">
        <div class="alert alert-danger">
          <ul>
            <% errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>