<p>
  Herzliche Grüsse,
</p>
<p>
  deine basimilch Betriebsgruppe
</p>

<p>
  --
</p>

<em>
  NB: Diese E-Mail wurde automatisch aus <%= link_to "#{root_url}", root_url %> generiert. Antworten auf diese E-Mail-Adresse
  werden nicht gelesen.
  <br>
  Du kannst uns jederzeit unter
  <a href="mailto:info@basimil.ch">info@basimil.ch</a>
  erreichen und alle Informationen
  über die Genossenschaft auf <a href="http://basimil.ch">basimil.ch</a>
  finden.
  <br>
  Fragen oder Verbesserungsvorschläge zur Plattform nehmen wir gerne
  unter <a href="mailto:meine@basimil.ch">meine@basimil.ch</a> entgegen.
</em>
