<p>
  --
</p>

<em>
  NB: Wenn Du diese E-Mail nicht angefordert hast, kannst du sie ignorieren.
  Deine E-Mail-Adresse wurde gerade für die Anmeldung auf
  <a href="http://basimil.ch">http://basimil.ch</a> benutzt.
  <br>
  Diese E-Mail wurde automatisch generiert. Antworten auf diese E-Mail-Adresse werden nicht gelesen.
</em>
