<p>
  --
</p>

<em>
  NB: Wenn Du diese E-Mail nicht angefordert hast, kannst du sie ignorieren.
  Deine E-Mail-Adresse wurde gerade für die Anmeldung auf
  <%= link_to "#{root_url}", root_url %> benutzt.
  <br>
  Diese E-Mail wurde automatisch generiert. Antworten auf diese E-Mail-Adresse werden nicht gelesen.
  <br>
  Du kannst alle Informationen über die Genossenschaft auf <a href="http://basimil.ch">basimil.ch</a> finden.
</em>
