<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%= t('.depots') %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to t('.show_all_depots'), "#" %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to t('.new_depot'), "#" %></li>
  </ul>
</li>
