<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%= current_user.first_name %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= menu_action t('.profile'), profile_path %>
    <%= menu_action_separator %>
    <%= menu_action t('.log_out'), logout_path, link_method: 'delete', icon: 'log-out' %>
  </ul>
</li>
