<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%= current_user.first_name %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= menu_action t('.profile'), profile_path %>
    <%= menu_action_separator %>
    <%= menu_action t('.log_out'), logout_path,
                                   icon: 'log-out',
                                   link_method: 'delete'
                                   # TODO: Consider adding a logout confirmation
                                   #       message to remind people that they can
                                   #       stayed logged in if they are on their own
                                   #       computer to avoid requesting a new login code
                                   #       per email.
                                   # ,
                                   # link_confirm: 'Are you sure to log out?'
                                   %>
  </ul>
</li>
