<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%= current_user.first_name %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to t('.profile'), profile_path %></li>
    <li role="separator" class="divider"></li>
    <li>
      <%= link_to logout_path, method: "delete" do%>
        <span class='glyphicon glyphicon-log-out'></span>
        <%= t('.log_out') %>
      <% end %>
    </li>
  </ul>
</li>
