@import "bootstrap-sprockets";
@import "bootstrap";

// Colors constants

// Bootstrap defines lots of colors constants which can be directly used
// here. For the whole list, see:
//   https://github.com/twbs/bootstrap/blob/master/less/variables.less
// That page defines variables using Less, not Sass, but the
// 'bootstrap-sass' gem provides the Sass equivalents. So, here use
// them with a dollar sign $ instead of the 'at' sign @.
// Source: https://www.railstutorial.org/book/_single-page#uid455

$basiblau: #51A1D9;
$basiblau_slightly_darker: darken( $basiblau, 10% );
$basiblau_darker: darken( $basiblau, 15% );
$basiblau_light: lighten( $basiblau, 25% );
$basiblau_ultralight: lighten( $basiblau, 36% );
$basiblau_ultralight_bg: lighten( $basiblau, 40.5% );

$gray-medium-light: #eaeaea;

$state-danger-text-light: lighten($state-danger-text, 40%);
$state-danger-bg-light:   lighten($state-danger-bg, 7%);

// Mixins

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin light_placeholder {
  color: $basiblau_light;
  opacity: 1;
}
@mixin light_placeholder_with_errors {
  @include light_placeholder;
  color: $state-danger-text-light;
}

// Global

body {
  padding-top: 80px;
}

// Misc

// Inspired from:
//   https://www.railstutorial.org/book/_single-page#code-mixin_and_debug
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.translation_missing {
  background-color: yellow;
  color: black;
}
// Show placeholder links as disabled.
a[href="#"]:not(.dropdown-toggle) {
  opacity: .4;
  cursor: not-allowed;
  &:hover {
    background: none;
  }
}

// Fonts

// Following fonts are added from the following import:;
// @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
// '.ttf' font files are downloaded from the original url: https://fonts.gstatic.com/s/lato/v11/[font-file-name].ttf;

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), font-url('Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), font-url('Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), font-url('Lato-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), font-url('Lato-BoldItalic.ttf') format('truetype');
}


// Typography
// Inspired from:
//   https://www.railstutorial.org/book/_single-page#code-typography_css

body {
  font:18px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:$gray-light;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: $gray;
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    font-size: 1.6em;
    letter-spacing: 0;
  }
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


// Header

header {
  background-color: $basiblau;
  border-color: $basiblau_slightly_darker;
  line-height: 1;
  .nav {
    .open {
      & > a,
      & > a:focus,
      & > a:active {
        background-color: $basiblau_darker;
      }
    }
    & > li {
      @media (min-width: 768px) {
        height: 50px;
      }
      & > a {
        color: white;
        &:focus {
          background-color: $basiblau;
        }
        &:hover {
          background-color: $basiblau_slightly_darker;
        }
        &:active {
          background-color: $basiblau_darker;
        }
      }
    }
  }
  .navbar-toggle {
    border-color: white;
    &:hover {
      background-color: $basiblau_slightly_darker;
    }
    .icon-bar {
      background-color: white;
    }
  }
}

.dropdown-menu > li > a {
  &:hover,
  &:focus{
    background-color: $basiblau_ultralight;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: lowercase;
  letter-spacing: -1px;
  &:hover {
    color: $basiblau_ultralight;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    margin-left: -15px;
  }
}


// Footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  #version-label {
    cursor: default;
    text-decoration: none;
    .popover-title {
      font-weight: bold;
    }
    .version-label-content {
      font-size: small;
      .gh-commit {
        color: inherit;
        background: transparent;
      }
      .gh-commit-msgs {
        font-style: italic;
        padding-top: 5px;
        max-height: 90px;
        overflow-x: scroll;
      }
      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}


// Forms

form {
  .user-form {
    padding-top: 25px;
  }
  input,
  textarea,
  select,
  button,
  a,
  .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
    &.form-control {
      border-color: $basiblau;
      background-color: $basiblau_ultralight-bg;
      &:not([disabled]):not([readonly]) {
        &:focus,
        &:active {
          background-color: $basiblau_ultralight;
        }
      }
      &.view-mode {
        @extend .view-mode[type=checkbox];
      }
    }
  }
  .view-mode[type=checkbox] {
    background-color: $basiblau_ultralight;
    border-color: transparent;
    box-shadow: none;
    cursor: default;
  }
  .form-buttons {
    margin-top: 25px;
    margin-bottom: 25px;
    &:not(.row) .btn {
      margin-bottom: 25px;
    }
  }
  input {
    height: auto !important;
  }
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
      background-color: $state-danger-bg-light;
      &:not([disabled]):not([readonly]) {
        &:focus,
        &:active {
          background-color: $state-danger-bg;
        }
      }
    }
  }
  .checkbox {
    label{
      padding: {
          top: 25px;
        }
      &[disabled] {
          cursor: default;
        }
      }
    span {
      margin-left: 20px;
      font-weight: normal;
    }
    input[type=checkbox] {
      width: auto;
      margin-top: 7px;
    }
  }

}

// NOTE: Do not group these rules. Instead, make a separate rule for
// every selector (one invalid selector in a group makes the whole
// group invalid).
// Source: http://stackoverflow.com/a/9705712
.field_with_errors {
  .form-control::-webkit-input-placeholder {
      @include light_placeholder_with_errors;
  }
  .form-control:-moz-placeholder {
      /* FF 4-18 */
      @include light_placeholder_with_errors;
  }
  .form-control::-moz-placeholder {
      /* FF 19+ */
      @include light_placeholder_with_errors;
  }
  .form-control:-ms-input-placeholder {
      /* IE 10+ */
      @include light_placeholder_with_errors;
  }
}
.form-control::-webkit-input-placeholder {
    @include light_placeholder;
}
.form-control:-moz-placeholder {
    /* FF 4-18 */
    @include light_placeholder;
}
.form-control::-moz-placeholder {
    /* FF 19+ */
    @include light_placeholder;
}
.form-control:-ms-input-placeholder {
    /* IE 10+ */
    @include light_placeholder;
}


// Title labels

.label {
  font-weight: normal;
}

// Flash messages

.flash-messages {
  .alert {
    > .glyphicon:first-child {
      margin-right: 5px;
    }
    code {
      color: inherit;
      background: transparent;
    }
  }
}

// Signup

.signups-validation-content {
  margin: {
    bottom: 50px;
  }
  code {
    color: $basiblau;
    background-color: transparent;
  }
}
.signups-create-content {
  margin: {
    bottom: 100px;
  }
}

// User index

.user-badge-admin {
  color: $brand-warning;
}

.user-badge-activation-status-recently-online {
  color: $brand-success;
}
.user-badge-activation-status-active {
  // default color
}
.user-badge-activation-status-stale {
  color: $gray-medium-light;
}
.user-badge-activation-status-waiting {
  color: $brand-warning;
}
.user-badge-activation-status-inactive {
  color: $brand-danger;
}

.user-never-logged-in-yet-label,
.user-inactive-label {
  font-style: italic;
  color: $gray-medium-light;
}

.user-count-label {
  padding-bottom: 25px;
}

.users-view-menu {
  .glyphicon {
    padding-right: 5px;
  }
}

.user_share_certificates {
    padding: {
      top: 25px;
    }
  .new_share_certificate_button {
    padding: {
      top: 15px;
    }
  }
}

.user_job_overview_for_admin {
    padding: {
      top: 50px;
    }
}

tr[data-href] {
  cursor: pointer;
}

.jobs_table {
  td.signup_count {
    .progress {
      margin: {
        top: 3px;
        bottom: 0;
      }
    }
  }
}