@import "bootstrap-sprockets";
@import "bootstrap";

// Colors constants

$basiblau: #51A1D9;
$basiblau_slightly_darker: darken( $basiblau, 10% );
$basiblau_darker: darken( $basiblau, 15% );
$basiblau_ultralight: lighten( $basiblau, 36% );

$gray-medium-light: #eaeaea;

// Mixins

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// Global

body {
  padding-top: 80px;
}

// Misc

// Inspired from:
//   https://www.railstutorial.org/book/_single-page#code-mixin_and_debug
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

// Fonts

// Following fonts are added from the following import:;
// @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
// '.ttf' font files are downloaded from the original url: https://fonts.gstatic.com/s/lato/v11/[font-file-name].ttf;

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), font-url('Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), font-url('Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), font-url('Lato-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), font-url('Lato-BoldItalic.ttf') format('truetype');
}


// Typography
// Inspired from:
//   https://www.railstutorial.org/book/_single-page#code-typography_css

body {
  font:18px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:$gray-light;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: $gray;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


// Header

header {
  background-color: $basiblau;
  border-color: $basiblau_slightly_darker;
  line-height: 1;
  .nav {
    .open {
      & > a,
      & > a:focus,
      & > a:active {
        background-color: $basiblau_darker;
      }
    }
    & > li {
      @media (min-width: 768px) {
        height: 50px;
      }
      & > a {
        color: white;
        &:focus {
          background-color: $basiblau;
        }
        &:hover {
          background-color: $basiblau_slightly_darker;
        }
        &:active {
          background-color: $basiblau_darker;
        }
      }
    }
  }
  .navbar-toggle {
    border-color: white;
    &:hover {
      background-color: $basiblau_slightly_darker;
    }
    .icon-bar {
      background-color: white;
    }
  }
}

.dropdown-menu > li > a {
  &:hover,
  &:focus{
    background-color: $basiblau_ultralight;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  &:hover {
    color: $basiblau_ultralight;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    margin-left: -15px;
  }
}


// Footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
