<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%= t('.depots') %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= menu_action t('.depot.show_all'), depots_path %>
    <%= menu_action t('.depot.new'), new_depot_path, icon: 'plus' %>
  </ul>
</li>
