<footer class="footer">
  <small>
    Done after learning with the awesome
    <%= link_to "Ruby on Rails Tutorial",
                'http://www.railstutorial.org/',
                target: '_blank'%>
    by
    <%= link_to "Michael Hartl",
                'http://www.michaelhartl.com/',
                target: '_blank'%>
    :)
  </small>
  <nav>
    <ul>
      <li><%= link_to "source",
                      'https://github.com/basimilch/basimilch-app',
                      target: '_blank'%></li>
      <li><%= link_to "basimil.ch",
                      'http://basimil.ch',
                      target: '_blank'%></li>
    </ul>
  </nav>
</footer>
