<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to ApplicationHelper::APP_NAME, root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right navbar-collapse">
        <li><%= link_to t('.users'),    users_path %></li>
        <li><%= link_to t('.new-user'), new_user_path %></li>
        <li><%= link_to t('.log-in'),   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
