<header class="navbar navbar-fixed-top">
  <nav>
    <div class="container">
      <div class="navbar-header">
        <% if logged_in? %>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <% end %>
        <%= link_to ApplicationHelper::APP_NAME, root_path,
                                                 id: "logo",
                                                 class: "navbar-brand" %>
      </div>
      <% if logged_in? %>
        <div class="collapse navbar-collapse" id="navigation-menu">
          <% if current_user.admin? %>
            <ul class="nav navbar-nav">
              <%= render 'layouts/header/users_menu' %>
            </ul>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <%= render 'layouts/header/user_menu' %>
          </ul>
        </div>
      <% end %>
    </div>
  </nav>
</header>
